{% extends 'Ecommerce/xbase.html' %}
{% block extrastyle %}
    <style>
.headingtitle{
    display:block-inline;
}
.color-color-primary{
    border-left: 0.25rem solid rgb(24, 152, 168)!important;

}
.headcard{
    background:rgb(5,89,100);
    color:#fff;
}
.pass{
  text-align: center;
  border: none;
  border-bottom:solid 1px grey;
  border-radius:0;
  background:transparent;
  font-size: 16px;
  font-weight: 200;
}
.pass:focus{
  outline: none;
  transition: 0.5s;
  box-shadow: inset 0 -2px 0 0 rgb(5, 89, 100) ;
}

::placeholder{
  color:grey;
}
.login{
    background:white!important;
    color:black;
    border:solid 1px black;
    box-shadow:none!important;
    font-family:roboto!important;

}
.login:hover,.logincreate:hover{
    background:rgb(236,233,233)!important;
    color:black!important;
}
.logincreate{
    background:white!important;
    color:black;
    border:none;
    border-bottom:solid 1px black;
    box-shadow:none!important;
    font-family:roboto!important;

}

@media (max-width: 356px) {
    .login{
        padding:5px 10px!important;
    }
}

    </style>
{%endblock extrastyle%}

{% block body %}

        <div class="container"  id="page-top" style="padding-top:100px;">
           <div class="col-xl-12 col-sm-12">
                    <div class="card mb-3 headcard pt-4 border-left" >
                        <h4 class="headingtitle text-center mb-4">All Items &nbsp; <i class="fas fa-chart-line"></i></h4>
                    </div>

               <div class="table-responsive">
                   <table class="table table-striped ">
                       <thead>
                       <tr>
                            <th>#</th>
                           <th>Item</th>
                           <th>Category</th>
                           <th>Image</th>
                           <th>Status</th>
                           <th>Action</th>
                       </tr>
                       </thead>
                       <tbody>
                        {% for item in all_stock %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{item.title}}</td>
                                <td>{{item.category}}</td>
                                <td>
                                    <img src="{{item.image.url}}" class="card-img-top" style="width:30px;" alt="image">

                                </td>
                                <td>
                                    {% if item.ShowCastToCustomers %}
                                    <a href="{% url 'Ecommerce:toggleactivate' item.id %}" class="dark-grey-text">
                                        <span class="badge badge-pill blue">Active</span>
                                    </a>

                                    {% else %}
                                    <a href="{% url 'Ecommerce:toggleactivate' item.id %}" class="dark-grey-text">
                                        <span class="badge badge-pill red">Expired</span>
                                    </a>

                                    {% endif %}
                                </td>
                                <td>
                                    <span>
                                        <a href="{% url 'Ecommerce:edit_item' item.id %}">
                                            <i class="fas fa-pen" style="font-size:12px;"></i>
                                        </a>
                                    </span>&nbsp;
                                    <span>
                                        <a href="{% url 'Ecommerce:delete_item' item.id %}" onclick="return confirm('Are you sure you want to delete this?');" class="">
                                            <i class="fas fa-trash-alt ml-3" style="font-size:12px;color:red;"></i>
                                        </a>

                                              <!--modal-->

  <!--/.end-->


                                    </span>

                                </td>

                            </tr>

                        {% endfor %}
                       </tbody>
                   </table>
               </div>
       </div>


    </div>
  <footer class="page-footer text-center font-small mt-4 wow fadeIn" style="background:rgb(5,89,100);" >

<!--Call to action-->
<div class="pt-4">
<a class="scroll-to-top rounded btn btn-outline-white" href="#page-top" >Top of page
&nbsp;<i class="fas fa-angle-up"></i>
</a>

</div>
<!--/.Call to action-->

<hr class="my-4">

<!--    &lt;!&ndash; Social icons &ndash;&gt;-->
<!--    <div class="pb-4">-->
<!--      <a href="https://www.facebook.com/mdbootstrap" target="_blank">-->
<!--        <i class="fab fa-facebook-f mr-3"></i>-->
<!--      </a>-->

<!--      <a href="https://twitter.com/MDBootstrap" target="_blank">-->
<!--        <i class="fab fa-twitter mr-3"></i>-->
<!--      </a>-->

<!--      <a href="https://www.youtube.com/watch?v=7MUISDJ5ZZ4" target="_blank">-->
<!--        <i class="fab fa-youtube mr-3"></i>-->
<!--      </a>-->

<!--      <a href="https://plus.google.com/u/0/b/107863090883699620484" target="_blank">-->
<!--        <i class="fab fa-google-plus-g mr-3"></i>-->
<!--      </a>-->

<!--      <a href="https://dribbble.com/mdbootstrap" target="_blank">-->
<!--        <i class="fab fa-dribbble mr-3"></i>-->
<!--      </a>-->

<!--      <a href="https://pinterest.com/mdbootstrap" target="_blank">-->
<!--        <i class="fab fa-pinterest mr-3"></i>-->
<!--      </a>-->

<!--      <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">-->
<!--        <i class="fab fa-github mr-3"></i>-->
<!--      </a>-->

<!--      <a href="http://codepen.io/mdbootstrap/" target="_blank">-->
<!--        <i class="fab fa-codepen mr-3"></i>-->
<!--      </a>-->
<!--    </div>-->
<!--    &lt;!&ndash; Social icons &ndash;&gt;-->

<!--Copyright-->
<div class="footer-copyright py-3">
© 2019 Copyright:
<a href="#" > Xaiphas Investments. </a>
</div>
<!--/.Copyright-->

</footer>



{% endblock %}